<a href="https://colab.research.google.com/github/92Benthara/FinalAssignmentWeek6/blob/main/Book_Algo_to_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Exercise 01

def check_if_symmetric(input_string):
  #Convert the input string to lowercase, to ignore the capitalization
  input_string = input_string.lower()

  #remove spaces from the input string
  input_string = input_string.replace(" ", "")

  #check if the string is equal to its reverse
  return input_string == input_string[::-1]

In [6]:
#Example
input_str = "A man a plan a canal Panama"
result = check_if_symmetric(input_str)
print(result)

True

In [4]:
#Example
input_str = "baby"
result = check_if_symmetric(input_str)
print(result)

False

In [10]:
# Exercise 02

def convert_to_numbers(input_string):
  #Convert the input string to lowercase to ignore capitalization
  input_string = input_string.lower()

  #define the mapping of letters to numbers
  # This part creates a dictionary
  # ord() is a function that returns the ASCII value of a character.
  # Adding 1 to this index makes the index one-based
  letter_to_numbers = {char: ord(char) - ord('a') + 1
                       for char in 'abcedfghijklmnopqrstuvwxyz'}

  # Replace spaces with 0 and convert letters to numbers
  # iterates over each character (char) in the 'input_string'
  # get the value associated with the key 'char' from the dictionary
  result = [letter_to_numbers.get(char, 0)
            for char in input_string]

  return result

In [8]:
input_str = 'a cat'
result = convert_to_numbers(input_str)
print(result)

[1, 0, 3, 1, 20]

In [9]:
input_str = 'wild elephant'
result = convert_to_numbers(input_str)
print(result)

[23, 9, 12, 4, 0, 5, 12, 5, 16, 8, 1, 14, 20]

In [2]:
# Exercise 03

def convert_to_letters(number_array):
  #mapping numbers to letters
  # adds the current value of num to the ASCII value of 'a' and then subtracts 1.
  # the result of the addition and
  # converts it back to the corresponding ASCII character using the chr() function
  # ''.join joins the list of letters into a single string and '' is the seperator
  result = ''.join([chr(num + ord('a') - 1)
                    if 1 <= num <= 26
                    else ' '
                    for num in number_array])
  return result

In [3]:
#example
number_array = [1, 0, 3, 1, 20]
result = convert_to_letters(number_array)
print(result)

a cat

In [6]:
#example
number_array = [1, 0, 4, 23, 19]
result = convert_to_letters(number_array)
print(result)

a dws

In [1]:
#Exercise 04
#create a empty list as intersection
#starts a loop to iterate over each element in array1
# if the current element present in array 2 and not present in the list
# add the element to the list

def get_intersection(array1, array2):
  intersection = []

  for element in array1:
    if element in array2 and element not in intersection:
      intersection.append(element)

  return intersection

In [3]:
array1 = [1, 2, 3, 4, 5]
array2 = [3, 4, 5, 6, 7]
result = get_intersection(array1, array2)

print(result)

[3, 4, 5]

In [4]:
#Exercise 05

def get_union(array1, array2):
  union = []

  for element in array1:
    if element not in union:
      union.append(element)

  for element in array2:
    if element not in union:
      union.append(element)

  return union

In [5]:
array1 = [1,2,3,4,5]
array2 = [2,3,4,5,6]
result = get_union(array1, array2)
print(result)

[1, 2, 3, 4, 5, 6]

In [10]:
#Exercise 06
def count_character(input_string):
  #ignore capitals
  input_string = input_string.lower()

  #empty dictionary to store
  character_counts = {}

  #iterate through each character in string
  for char in input_string:
    #check alphanumeric or space
    if char.isalpha or char.isspace():
      #get() use to retrieve the current count in the dictionary or default zero
      character_counts[char] = character_counts.get(char, 0) + 1

  return character_counts

In [11]:
#example

input_str = 'A Cat!!!'
result = count_character(input_str)
print(result)

{'a': 2, ' ': 1, 'c': 1, 't': 1, '!': 3}

In [2]:
#Exercise 07

def is_prime(N):
  # check if N is less than or equal to one
  # 1 is not a prime number and primes numbers are positive only
  if N <= 1:
    return False

  #loop iterates from 2 to the N/2 (inclusive)
  # N//2 denotes the floor function
  for n in range(2, (N//2) + 1):
    #check if n divides N
    if N % n == 0:
      return False  #N is not prime

    return True # N is prime

In [3]:
#Example
N = 51
result = is_prime(N)
print(result)

True

In [4]:
#Example
N = 1012
result = is_prime(N)
print(result)

False

In [9]:
#Tests - Lesson 01
tests = [
    {
        'function': check_if_symmetric,
        'input': 'racecar',
        'output': True
    },
    {
        'function': check_if_symmetric,
        'input': 'batman',
        'output': True
    }
]

num_successes = 0
num_failures = 0

for test in tests:
  function = test['function']
  test_input = test['input']
  desired_output = test['output']
  actual_output = function(test_input)

  if actual_output == desired_output:
    num_successes += 1
  else:
    num_failures += 1
    function_name = function.__name__
    print('')
    print(f'{function_name} failed on input {test_input}');
    print(f'\tActual output: {actual_output}')
    print(f'\tDesired output: {desired_output}')

print(f'Testing complete: {num_successes} successes and {num_failures} failures.')

check_if_symmetric failed on input batman
	Actual output: False
	Desired output: True
Testing complete: 1 successes and 1 failures.